<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque incidunt iusto maxime nobis quas quos sed. Delectus inventore quidem quo rerum tenetur ut? A, ab autem doloremque eaque et eum, libero nobis quas quibusdam recusandae sunt tempore temporibus veniam? Deleniti dicta dolores expedita laudantium molestiae omnis recusandae repellat tenetur!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque incidunt iusto maxime nobis quas quos sed. Delectus inventore quidem quo rerum tenetur ut? A, ab autem doloremque eaque et eum, libero nobis quas quibusdam recusandae sunt tempore temporibus veniam? Deleniti dicta dolores expedita laudantium molestiae omnis recusandae repellat tenetur!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque incidunt iusto maxime nobis quas quos sed. Delectus inventore quidem quo rerum tenetur ut? A, ab autem doloremque eaque et eum, libero nobis quas quibusdam recusandae sunt tempore temporibus veniam? Deleniti dicta dolores expedita laudantium molestiae omnis recusandae repellat tenetur!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque incidunt iusto maxime nobis quas quos sed. Delectus inventore quidem quo rerum tenetur ut? A, ab autem doloremque eaque et eum, libero nobis quas quibusdam recusandae sunt tempore temporibus veniam? Deleniti dicta dolores expedita laudantium molestiae omnis recusandae repellat tenetur!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque incidunt iusto maxime nobis quas quos sed. Delectus inventore quidem quo rerum tenetur ut? A, ab autem doloremque eaque et eum, libero nobis quas quibusdam recusandae sunt tempore temporibus veniam? Deleniti dicta dolores expedita laudantium molestiae omnis recusandae repellat tenetur!</p>
    </div>
</div>
